<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

    <body>
        <div class="itens">

            <%- include('includes/navbar') %>

                <table id="filmes">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>                   
                        </tr>
                        <tr>
                            <td>
                                <%= user.nome %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>               
                        </tr>                                                                           
                </table>
            <table id="filmes">
        <tr>
        <% if (user.tipo == "User" ) { %>
          <th>Name</th>
          <th>Tier</th>
          <th>Quality</th>
          <th>Price</th>
          <th>Date</th>
          <th>
            <form action="/filmes/search" method="POST">
              <input type="submit" value=&#128270; id="pesq"><input type="text" name="search">
            </form>
          </th>
          </tr>
            <% filmesUser.forEach(filme => { %>
          <tr>
            <td><%= filme.name %></td>
            <td><%= filme.tier %></td>
            <td><%= filme.quality %></td>
            <td>$<%= filme.price %></td>
            <td><%= filme.date %></td>
            <td> <a href="/filmes/<%= filme.id %>" id="detalhes"> MORE </a> </td>
          </tr>
        <% }) %>
        <% } %>
        </table>
        </div>
    </body>

</html>